{
    "CN": "etcd-ca",
    "key": {
        "algo": "rsa",
        "size": 
            {{ etcd_ca_certificates_key_size }}
    },
    "ca": {
        "expiry": "{{ etcd_ca_certificates_duration }}"
    }
}
