{
    "signing": {
        "default": {
            "usages": ["signing", "key encipherment", "server auth", "client auth"],
            "expiry": "{{ etcd_certificates_duration }}"
        },
        "profiles": {
            "server": {
                "expiry": "{{ etcd_certificates_duration }}",
                "usages": [
                    "signing",
                    "digital signature",
                    "key encipherment",
                    "server auth"
                ]
            },
            "client": {
                "expiry": "{{ etcd_certificates_duration }}",
                "usages": [
                    "signing",
                    "digital signature",
                    "key encipherment",
                    "client auth"
                ] 
            },
            "peer": {
                "expiry": "{{ etcd_certificates_duration }}",
                "usages": [
                    "signing",
                    "digital signature",
                    "key encipherment",
                    "server auth",
                    "client auth"
                ]
            }
        }
    }
}