{
    "CN": "kube-etcd-healthcheck-client",
    "key": {
        "algo": "rsa",
        "size": {{ certificates_key_size }}
    },
    "names": [
        {
            "O": "system:masters"
        }
    ]
}