# Environment file for etcd {{ etcd_version }}
ETCD_DATA_DIR={{ etcd_data_dir }}

{% if etcd_wal_dir is defined and etcd_wal_dir | length > 0 %}
ETCD_WAL_DIR={{ etcd_wal_dir }}
{% endif %}

ETCD_ADVERTISE_CLIENT_URLS={{ etcd_advertise_client_urls }}
ETCD_INITIAL_ADVERTISE_PEER_URLS={{ etcd_initial_advertise_peer_urls }}
ETCD_INITIAL_CLUSTER_STATE={{ etcd_initial_cluster_state }}


ETCD_LISTEN_CLIENT_URLS={{ etcd_listen_client_urls }}
ETCD_ELECTION_TIMEOUT={{ etcd_election_timeout }}
ETCD_HEARTBEAT_INTERVAL={{ etcd_heartbeat_interval }}
ETCD_INITIAL_CLUSTER_TOKEN={{ etcd_initial_cluster_token }}
ETCD_LISTEN_PEER_URLS={{ etcd_listen_peer_urls }}
ETCD_NAME={{ etcd_member_name }}
ETCD_INITIAL_CLUSTER={{ etcd_initial_cluster }}
ETCD_SNAPSHOT_COUNT={{ etcd_snapshot_count }}

ETCD_MAX_SNAPSHOTS={{ etcd_max_snapshots }}
ETCD_MAX_WALS={{ etcd_max_wals }}

{% if etcd_cors is defined and etcd_cors | length > 0 %}
ETCD_CORS={{ etcd_cors }}
{% endif %}

ETCD_QUOTA_BACKEND_BYTES={{ etcd_quota_backend_bytes }}
ETCD_BACKEND_BATCH_LIMIT={{ etcd_backend_batch_limit }}
ETCD_BACKEND_BBOLT_FREELIST_TYPE={{ etcd_backend_bbolt_freelist_type }}
ETCD_BACKEND_BATCH_INTERVAL={{ etcd_backend_batch_interval }}
ETCD_MAX_TXN_OPS={{ etcd_max_txn_ops }}
ETCD_MAX_REQUEST_BYTES={{ etcd_max_request_bytes }}
ETCD_GRPC_KEEPALIVE_MIN_TIME={{ etcd_grpc_keepalive_min_time }}
ETCD_GRPC_KEEPALIVE_INTERVAL={{ etcd_grpc_keepalive_interval }}
ETCD_GRPC_KEEPALIVE_TIMEOUT={{ etcd_grpc_keepalive_timeout }}
ETCD_STRICT_RECONFIG_CHECK={{ etcd_strict_reconfig_check | bool | lower }}
ETCD_AUTO_COMPACTION_RETENTION={{ etcd_auto_compaction_retention }}
ETCD_AUTO_COMPACTION_MODE={{ etcd_auto_compaction_mode }}
ETCD_ENABLE_V2={{ etcd_enable_v2 | bool | lower }}

# Proxy flags
ETCD_PROXY={{ etcd_proxy }}

# Security flags
ETCD_AUTO_TLS={{ etcd_auto_tls | bool | lower }}
ETCD_TRUSTED_CA_FILE={{ etcd_trusted_ca_file }}
ETCD_CERT_FILE={{ etcd_cert_file }}
ETCD_KEY_FILE={{ etcd_key_file }}
ETCD_CLIENT_CERT_AUTH={{ etcd_client_cert_auth | bool | lower }}

{% if etcd_client_crl_file is defined and etcd_client_crl_file | length > 0 %}
ETCD_CLIENT_CRL_FILE={{ etcd_client_crl_file }}
{% endif %}

{% if etcd_client_cert_allowed_hostname is defined and etcd_client_cert_allowed_hostname | length > 0 %}
ETCD_CLIENT_CERT_ALLOWED_HOSTNAME={{ etcd_client_cert_allowed_hostname }}
{% endif %}

ETCD_PEER_TRUSTED_CA_FILE={{ etcd_peer_trusted_ca_file }}
ETCD_PEER_CERT_FILE={{ etcd_peer_cert_file }}
ETCD_PEER_KEY_FILE={{ etcd_peer_key_file }}
ETCD_PEER_CLIENT_CERT_AUTH={{ etcd_peer_client_cert_auth | bool | lower }}

{% if etcd_peer_crl_file is defined and etcd_peer_crl_file | length > 0 %}
ETCD_PEER_CRL_FILE: {{ etcd_peer_crl_file }}
{% endif %}

ETCD_PEER_AUTO_TLS={{ etcd_peer_auto_tls | bool | lower }}

{% if etcd_peer_cert_allowed_cn is defined and etcd_peer_cert_allowed_cn | length > 0 %}
ETCD_PEER_CERT_ALLOWED_CN={{ etcd_peer_cert_allowed_cn }}
{% endif %}

{% if etcd_peer_cert_allowed_hostname is defined and etcd_peer_cert_allowed_hostname | length > 0 %}
ETCD_PEER_CERT_ALLOWED_HOSTNAME={{ etcd_peer_cert_allowed_hostname }}
{% endif %}

{% if etcd_cipher_suites is defined and etcd_cipher_suites | length > 0 %}
ETCD_CIPHER_SUITES={{ etcd_cipher_suites }}
{% endif %}

# Logging flags
ETCD_LOG_OUTPUTS={{ etcd_log_outputs }}
ETCD_LOG_LEVEL={{ etcd_log_level }}

# Profiling flags
ETCD_ENABLE_PPROF={{ etcd_enable_pprof | bool |lower }}
ETCD_METRICS={{ etcd_metrics }}

{% if etcd_listen_metrics_urls is defined and etcd_listen_metrics_urls | length > 0 %}
ETCD_LISTEN_METRICS_URLS={{ etcd_listen_metrics_urls }}
{% endif %}

{% for key, value in etcd_extra_vars.items() %}
{{ key }}={{ value }}
{% endfor %}